.text{
    box-sizing: border-box;
    color: rgb(8, 8, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
} 
.centeredLoader {
    position:relative;
 /* top: 50%;
 left: 50%; */
 text-align: center;
  width: 50vw;

}
.userPostsView{
    width:100%;
    min-width:80%;
    padding-left:8%;
}
.postsWidth{
    width:70%;
}
/* .hidden{
    position:fixed;
} */
@media (max-width: 768px) {
    .hidden{
        display: none;
    }
    .userPostsView{
        min-width:100%;
        padding: 1%;
    }
    .postsWidth{
        width:100%;
    }
}

